/****************************************************
   Dark mode
****************************************************/
$dark-background: #1c1e21;
$dark-background-highlight: rgb(255, 255, 255, 0.15);


body.dark {
    --main-background: #{$dark-background};
    --sidebar-background: #{$dark-background-highlight};
    --bs-form-check-bg: black;

    .form-control,
    .form-select,
    .form-check-input {
        background-color: $dark-background;
        color: white;
    }

    .sq-new-discussion {
        color: #9bccff;
    }

    #logo {
        content: url("../assets/sinequa-logo-dark-lg.png");
    }

    #sinequa-loading-logo {
        content: url('../assets/sinequa-logo-dark-lg.png');
    }

    dialog {
        background-color: $dark-background;
        color: white;
    }
}