@import "@sinequa/assistant/chat/styles/assistant";

:host {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  overflow: hidden;

  --ast-chat-container-width: #{$container-width};
  --ast-chat-padding-top: 1rem;

  --ast-chat-settings-width: #{$container-width};
  --ast-chat-settings-padding-top: 2rem;
  --ast-chat-settings-padding-bottom: 2rem;
}

#logo {
  content: url("../assets/sinequa-logo-light-lg.png");
  width: 160px;
  max-height: 40px;
}

.sidebar {
  width: 20%;
  min-width: 200px;
  z-index: 99;
  display: none;
  flex-direction: column;
  overflow: auto;
  overflow-x: hidden;
  background-color: var(--sidebar-background, white);
  padding: 0.5rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);

  @media (min-width: $md) {
    display: flex;
  }

  sq-sidebar {
    flex-grow: 1;
    overflow: auto;
  }
}

.main-container {
  min-height: 0;
  display: flex;
  flex-grow: 1;
  background-color: var(--main-background, white);
}

::ng-deep .card {
  --bs-card-cap-bg: var(--bs-light);
}

.sq-new-discussion {
  font-weight: $fw-bold;

  span {
    flex-grow: 1;
  }

  &.forbidden {
    cursor: not-allowed;
  }
}
